/* .carousel-nav-buttons {
    background-color: #710e12 !important;
  }
  
  .carousel-nav-buttons:active {
    background-color: #710e12 !important;
    box-shadow: none !important;
     
     opacity: 1 !important;
      box-shadow: none !important;
   
  }
  .carousel-nav-buttons:hover{
      background-color: #710e12 !important;
      opacity: 1 !important;
      box-shadow: none !important;
    }
    .carousel-nav-buttons:focus{
      background-color: #710e12 !important;
      outline: none !important;
      opacity: none;
    }
   
   */