@font-face {
    font-family: 'Playfair Display';
    src: url('@assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* This tells the browser it's a variable font with a weight range */
    font-style: normal;
  }
  